<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.grinnell.glicious"
    android:versionCode="214"
    android:versionName="2.2.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    
    <uses-permission android:name="android.permission.READ_LOGS"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:icon="@drawable/glicious5"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" 
        android:allowBackup="true"
        >
        <activity
            android:name=".DishListActivity"
            android:label="@string/title_menu" 
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity
            android:name=".DishDetailActivity"
            android:label="@string/title_dish_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DishListActivity" />
        </activity>
        
        <activity android:name=".PrefActiv"
                  android:label="@string/settingstitle" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DishListActivity" />
        </activity>
        
    </application>

</manifest>